<!DOCTYPE html>
<html>
<head>
    <title>My Startup</title>
</head>
<body>
<h1>Welcome to My Startup!</h1>
<p>Please select an option:</p>
<form method="get">
    <label><input type="radio" name="option" value="1">View Products</label><br>
    <label><input type="radio" name="option" value="2">Add Product</label><br>
    <label><input type="radio" name="option" value="3">Edit Product</label><br>
    <label><input type="radio" name="option" value="4">Delete Product</label><br>
    <label><input type="radio" name="option" value="5">Exit</label><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>
